.nav {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  padding: 5px;
}

.nav-item {
  display: inline;
  margin-right: 3%;
  color: #333;
}

.nav-item:hover {
  color: blue;
  cursor: pointer;
}

.nav-item > .active {
    border-bottom: 1px solid #333333;
}

.section-content-1 {
  margin: 0 auto;
  padding: 350px;
  background-color: #FFBBDD;
  text-align: center;
}

.section-content-2 {
  margin: 0 auto;
  padding: 350px;
  background-color: #99FFAA;
  text-align: center;
  color: #FFFFFF;
  font-size: 250%;
}

.section-content-3 {
  margin: 0 auto;
  padding: 350px;
  background-color: #99DDFF;
  text-align: center;
  color: #FFFFFF;
  font-size: 250%;
}